/* ------------------------------------------------------- */
/* ------------------- Universal Styles ------------------ */
/* ------------------------------------------------------- */

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    background: rgb(49, 49, 49);
}

/* ------------------ Font Styles ------------------ */

h1 {
    font-size: 4rem;
    font-family: "Bebas Neue", Impact, sans-serif;
    padding: 0 1rem;
    margin: 0;
}

h1 b {
    color: #7fff79;
}


/* ------------------------------------------------------- */
/* -------------------- Header Styles -------------------- */
/* ------------------------------------------------------- */

header {
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo {
    width: 8rem;
}

.main-menu {
    position: relative;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.5rem;
    list-style: none;
}

.main-menu li {
    padding: 2rem 3rem;
}

.main-menu li:hover {
    color: #7fff79;
}



/* ------------------------------------------------------- */
/* --------------------- Media Styles -------------------- */
/* ------------------------------------------------------- */

@media screen and (min-width: 769px){

}