/* -------------------------------------------------------- */
/* ------------------- Universal Styles ------------------- */
/* -------------------------------------------------------- */

body {
    height: 100vh;
    background: black;
    background-image: url(../images/banners/green-snake.jpg);
    background-size: cover;
    background-position: center;
}

h2 {
    max-width: 15rem;
    font-size: 2.5rem;
    font-weight: 100;
    position: absolute;
    text-align: center;
    right: 1rem;
    bottom: 1rem;
}

/* -------------------------------------------------------- */
/* --------------------- Media Styles --------------------- */
/* -------------------------------------------------------- */

/* ---------------- Small Tablet ------------------ */

@media screen and (min-width: 360px) {

    /* ------------ Font Styles ------------- */

    h2 {
        max-width: 21rem;
        font-size: 2.75rem;
        right: 1rem;
        bottom: 0;
    }

}

/* ---------------- Tablet / iPad ------------------ */

@media screen and (min-width: 768px) {

    /* ------------ Font Styles ------------- */

    h2 {
        max-width: 30rem;
        font-size: 3.25rem;
        right: 4rem;
        bottom: 0;
    }

}

/* ---------------- Laptop / Desktop ------------------ */

@media screen and (min-width: 1024px) {

    /* ------------ Font Styles ------------- */

    h2 {
        max-width: 30rem;
        font-size: 4rem;
        right: 5rem;
        bottom: 0;
    }


}


