/* -------------------------------------------------------- */
/* ------------------- Universal Styles ------------------- */
/* -------------------------------------------------------- */
* {
    box-sizing: border-box;
}

html {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    background: black;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------------------ Font Styles ------------------ */

/* ----------------- h1 ----------------- */

h1 {
    font-size: 2.5rem;
    font-family: "Metal Mania", Impact, sans-serif !important;
    text-shadow: 0 0 2rem black;
}

h1 b {
    color: greenyellow;
}

/* ----------------- h1 ----------------- */

h2 {
    font-family: "Montserrat Subrayada", Arial, sans-serif;
    text-align: center;
}

/* ---------------- a ------------------ */

a { 
    font-size: 1rem;
    text-decoration: none;
    color: white;
}

a:active {
    -webkit-tap-highlight-color: transparent;
}

header a:visited {
    color: white;
}

header a:active {
    transform: scale(0.9);
}

.menu a {
    font-size: 1.5rem;
    font-family: "Montserrat", Arial, sans-serif;
    text-align: center;
    display: block;
    color: white;
    margin:  1rem 0;
}

.menu a:hover {
    color: greenyellow;
}

/* ---------------- ul ------------------ */

ul{
    list-style: none;
}


/* -------------------------------------------------------- */
/* -------------------- Header Styles --------------------- */
/* -------------------------------------------------------- */

header {
    width: 100%;
    height: 4rem;
    z-index: 10;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
}

/* ------------------ Logo Styles ------------------ */

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo-img {
    width: 4rem;
}


/* ---------------- Navigation Menu ---------------- */

.nav {
    width: 100%;
    position: fixed;
    top: 4rem;
    background-color: black;
    overflow: hidden;
}

.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* -------------- Hamburger Menu Icon -------------- */

.hamb {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    float: right;
    padding: 3rem 1rem;
}

.hamb-line {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 2rem;
}

.hamb-line::before,
.hamb-line::after{
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before{
    top: 5px;
}

.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} 

/* ----------- Toggle Hamburger Menu Icon ---------- */

.side-menu:checked ~ nav{
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}
  

/* -------------------------------------------------------- */
/* --------------------- Media Styles --------------------- */
/* -------------------------------------------------------- */

/* ---------------- Tablet / iPad ------------------ */

@media screen and (min-width: 768px) {

    /* ------------ Font Styles ------------- */

    h1 {
        font-size: 2.75rem !important;
    }

    .menu li{
        float: left;
    }

    .menu a {
        text-align: left;
        margin: 0 0.5rem;
        font-size: 1.25rem;
    }

    .menu a:hover{
        color: greenyellow;
    }

    /* ----------- Navigation Menu ---------- */

    .nav{
        max-height: none;
        margin-right: 1rem;
        top: -0.6rem;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }

    /* --------- Hamburger Menu Icon -------- */

    .hamb{
        display: none;
    }
}

/* ---------------- Laptop / Desktop ------------------ */

@media screen and (min-width: 1024px) {

    /* ------------ Font Styles ------------- */

    h1 {
        font-size: 3.5rem !important;
    }

    .menu a {
        margin: 0 1.2rem;
        font-size: 1.5rem;
    }

    /* ----------- Header Styles ------------ */

    header {
        height: 5rem;    
    }

    #logo-img {
        width: 5rem;
    }
}
